@import '../colors.scss';

.alert {
  padding: 10px 12px;
  margin: 6px 10px;
  border-radius: 4px;
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &.primary {
    @extend #{'.deep-purple-lighten-2'};
  }

  &.secondary {
    @extend #{'.blue-grey-lighten-3'};
  }

  &.info {
    @extend #{'.blue'};
  }

  &.success {
    @extend #{'.green'};
  }

  &.warning {
    @extend #{'.orange-darken-1'};
  }

  &.error {
    @extend #{'.red-darken-2'};
  }
}
